.header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    padding-top: 20px;
    margin-bottom: 16px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    background-color: #f7f7f7;
}

.header img {
    width: 8rem;
}

.info-game,
.placar-game {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    padding: 8px 24px;
}

.info-game input,
.placar-game input {
    width: 30px;
    height: 30px;
}

.ambiente-game {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.game {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    max-width: max-content;
    padding: 20px;
    gap: 12px;
    margin-bottom: 12px;
}

.quadro-taz {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    padding: 12px;
    background-color: #fefae0;
    border-radius: 4px;
}

.target {
    background-image: url(../images/taz-aparece-2.jpg);
    background-size: cover;
    background-position: center;
}

.target-hit {
    background-image: url(../images/TazCrying.png);
    background-size: cover;
    background-position: center;
}